services:
  opentelemetry-collector:
    image: otel/opentelemetry-collector-contrib:0.144.0
    container_name: opentelemetry-collector
    user: 0:0
    pid: "host"
    network_mode: "host"
    tty: true
    environment:
      - SIGNOZ_HOST=${SIGNOZ_HOST}
      - HOST_PROC=/hostfs/proc
      - HOST_SYS=/hostfs/sys
      - HOST_ROOT=/hostfs
    volumes:
        - type: bind
          source: /var/run/docker.sock
          target: /var/run/docker.sock
          read_only: true
        - type: bind
          source: /var/lib/docker/containers
          target: /var/lib/docker/containers
          read_only: true
        - type: bind
          source: ./config.yaml
          target: /etc/otelcol-contrib/config.yaml
        - /proc:/hostfs/proc:ro
        - /sys:/hostfs/sys:ro
        - /:/hostfs:ro